/* your code */
#table{
	width:90vw;
	border: 1px solid blue;
	
	margin:auto;
}
table,th{
	border-bottom: 1px solid blue;
	border-collapse:collapse;
	
}
th{
	background-color:blue;
	color:white;
}

td,th{
	padding:10px;
	margin:10px;
	
}
tr:nth-child(even){
	background-color:gray;
}
